<div class="row">
  <div class="small-12 columns">
    <div data-alert id='notice'>
      <%= render 'layouts/flash' %>
    </div>
    
    <h2>Comments Board</h2>

    <div id="comment-form">
      <%= render 'form' %>
    </div>

    <div id="comments">
      <%= nested_comments @comments.arrange(:order => 'created_at DESC') %>
    </div>

  </div>
</div>