<div class="off-canvas-wrap show-for-small-only mobile-events-menu" data-offcanvas data-equalizer>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon button" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu" data-equalizer-watch>
    	<%= render 'events/events_sidebar_mobile' %>
    </aside>

    <section class="middle tab-bar-section">
        <h6 class="title events-off-canvas">My Events</h1>
    </section>

    <section class="main-section display-tweets-mobile 12-columns" data-equalizer-watch>
    	<div class="row">
    		<div class="small-12 columns">
    			<% if @tweetsArray.empty? %>
					<h4 class="no-tweets">There are currently no tweets for this event.</h4>
				<% else %>
	    			<% @tweetsArray.each do |tweet| %> 
						<%= tweet %>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					<% end %>
				<% end %>
    		</div>
    	</div>
    </section>

  <a class="exit-off-canvas"></a>
  </div>
</div>

<div class="row show-for-medium-up">
	<div class="medium-3 columns">
		<%= render 'events/events_sidebar' %>
	</div>
	<div class="medium-9 columns display-tweets-desktop">
		<% if @tweetsArray.empty? %>
			<h4>There are currently no Tweets for this event.</h4>
		<% else %>
			<% @tweetsArray.each do |tweet| %> 
				<%= tweet %>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<% end %>
		<% end %>
	</div>

	<div id="createModal" class="reveal-modal subscribe-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="row">
			<div class="small-12 columns">
				<h2 id="modalTitle" class="text-center">Create New Event</h2>
				<p class="text-center">Enter the hashtag for your Event.</p>
				<input type="text" id="new-event-subscribe" placeholder="Event Hashtag" />
				<a href="#" class="button small subscribe-button" data-reveal-id="createModal">Create New Event</a>
			</div>
		</div>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<div id="subscribeModal" class="reveal-modal subscribe-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="row">
			<div class="small-12 columns">
				<h2 id="modalTitle" class="text-center">Subscribe To An Event</h2>
				<p class="text-center">Enter the hashtag of an event already created.</p>
				<input type="text" id="new-event-subscribe" placeholder="Event Hashtag" />
				<a href="#" class="button small subscribe-button" data-reveal-id="subscribeModal">Subscribe to Event</a>
			</div>
		</div>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</div>