<%= link_to "New Event", new_event_path, method: :get, class: "button small subscribe-button" %>
<%= link_to "Search Events", search_events_path, method: :get, class: "button small subscribe-button" %>
<h5>My Events</h5>
<ul class="side-nav events-list">
	<% @events.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<li><%= link_to "##{event.hashtag}", event_tweets_path(event), method: :get %>
	<% end %>
</ul>
<h5>Subscriptions</h5>
<ul class="side-nav events-list">
	<% @subscriptions.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<li><%= link_to "##{event.hashtag}", event_tweets_path(event), method: :get %>
	<% end %>
</ul>