<ul class="off-canvas-list">
	<li><%= link_to "New Event", new_event_path, method: :get %></li>
	<li><%= link_to "Search Events", search_events_path, method: :get %></li>
	<li><label>My Events</label></li>
	<% @events.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<li><%= link_to event.name, event_tweets_path(event), method: :get %>
	<% end %>
	<li><label>My Subscribed Events</label></li>
	<% @subscriptions.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<li><%= link_to "##{event.hashtag}", event_tweets_path(event), method: :get %>
	<% end %>
</ul>