<% if current_user.subscribed?(@event) %>
	<%= link_to "Unsubscribe", "/events/#{@event.id}/unsubscribe", method: :get, class: "button" %>
<% else %>
	<%= link_to "Subscribe", "/events/#{@event.id}/subscribe", method: :get, class: "button" %>
<% end %>

<h3>
	<strong>Event Name:</strong>
	<%= @event.name %>
</h3>

<h3>
	<strong>Event Description:</strong>
	<%= @event.description %>
</h3>