<div class = "row home-content" data-equalizer>
	<div class = "small-12 columns">
		<div class="panel home-panel">
			<h2>Welcome to Event Social</h2>
			<img src="<%= asset_path( 'events.jpg' ) %>" />
			<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<fieldset class="home-login" data-equalizer-watch>
			<legend>Sign Up</legend>
			<div class="row">
				<div class="small-12 medium-8 large-6 medium-centered columns">
					<%= render "sign_up_form" %>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="small-12 medium-6 columns">
		<fieldset class="home-twitter" data-equalizer-watch>
			<legend>Log In</legend>
			<div class="row">
				<div class="small-12 medium-8 large-6 medium-centered columns">
					<%= render "log_in_form" %>
				</div>
			</div>
		</fieldset>
	</div>
</div>