body {
	background: #F1F1F1 !important;
}

.center {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/* ---COLOR SCHEME --- */
/* 
	blue - #2274A5
	green - #7FB800
 	white - #FFFFFF
 	light gray - #F1F1F1
 	dark gray - #404041
 */

/* --- Nav Bar Styles --- */
.title-area h1 a {
	color: #2274A5 !important;
	padding: 0 5px 0 5px !important;
	font-weight: bold !important;
	background-color: #FFFFFF;
}
.brand-nav {
	width: 150px;
	margin-bottom: 7.3px;
}
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #FFFFFF !important;
	font-weight: bold;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #2274A5 !important;
	color: #F1F1F1;
}
.top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a {
	color: #2274A5 !important;
}
.top-bar-section li:not(.has-form) a:not(.button):not(:hover) {
	color: #2274A5 !important;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #2274A5, 0 7px 0 1px #2274A5, 0 14px 0 1px #2274A5 !important;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	color: #F1F1F1 !important;
}
.top-bar-section .has-dropdown > a:after {
    border-color: #2274A5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}
.top-bar-section .has-dropdown:hover > a:after {
    border-color: #F1F1F1 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}
.top-bar h1 {
	background: #FFFFFF !important;
}

/* --- Alerts Styles --- */
.alert-box {
    margin-bottom: 0px !important;
    width: 97%;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}
.alert-box.notice {
	background-color: #2274A5 !important;
}

/* --- Home Page Styles --- */
.home-panel {
	margin-top: 20px;
	border: 2px solid #7FB800 !important;
	background: #FFFFFF !important;
}
.home-panel h2 {
	text-align: center;
	font-weight: bold;
	color: #2274A5 !important;
}
.home-panel h6 {
	text-align: center;
	color: #2274A5 !important;
}
.home-panel img {
	width: 500px;
	display: block;
	margin: 0 auto 10px auto;
}
.home-content fieldset {
	border: 3px solid #7FB800;
	background: #FFFFFF; 
}
.home-content legend {
	color: #2274A5;
}
.login-button, .signup-button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 16px auto 15px auto !important;
	width: 60% !important;
	font-weight: bold !important;
}
.login-button:hover, .signup-button:hover, .login-button:active, .signup-button:active {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}
.twitter-login {
	display: block;
	margin:0 auto 0 auto;
}
.home-profile .button, .home-events .button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 0 auto 15px auto !important;
	font-weight: bold !important;
}
.home-profile .button:hover, .home-events .button:hover {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}
.home-content h6 {
	line-height: 1.35 !important;
}

/* --- Sign Up Page Styles --- */
.sign-up-content h2 {
	text-align: center;
	font-weight: bold;
	color: #7FB800 !important;
}
.sign-up-content input {
	margin-bottom: 30px !important;
}
.already-user, .not-user {
	margin-top: 10px;
}
.already-user a, .not-user a {
	color:#2274A5;
}
.already-user a:hover, .already-user a:active, .not-user a:hover, .not-user a:active {
	color:#7FB800;
}

/* --- Tweets Page Styles (Mobile) --- */
.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  min-height: 100vh;
}
.tab-bar {
	background: #D0D2D2 !important;
}
.mobile-events-menu a.menu-icon span::after {
	box-shadow: 0 1px 0 1px #2274A5, 0 8px 0 1px #2274A5, 0 15px 0 1px #2274A5 !important;
}
.mobile-events-menu a.menu-icon {
	background-color: #FFFFFF !important;
}
.mobile-events-menu .left-small {
	border:none !important;
}
.display-tweets-mobile .twitter-tweet {
	display: block;
	margin: 0 auto 0 auto;
}
.left-off-canvas-menu {
	background: #404041 !important;
}
ul.off-canvas-list li label {
	color: #F1F1F1 !important;
}
ul.off-canvas-list li a {
	color: #7FB800 !important;
}
ul.off-canvas-list li a.active {
    background: #242424 !important;
}

/* --- Tweets Page Styles (Desktop) --- */
.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  	min-height: 100vh;
}
.tab-bar {
	background: #FFFFFF !important;
}
.mobile-events-menu a.menu-icon span::after {
	box-shadow: 0 1px 0 1px #2274A5, 0 8px 0 1px #2274A5, 0 15px 0 1px #2274A5 !important;
}
.mobile-events-menu a.menu-icon {
	background-color: #FFFFFF !important;
}
.mobile-events-menu .left-small {
	border:none !important;
}
.events-off-canvas {
	text-align: left !important;
	margin-top: 11px;
	color: #2274A5;
	font-weight: bold;
}
.events-list li a {
	color: #2274A5 !important;
}
.events-list li a:hover, .events-list li.active > a:first-child:not(.button) {
	color: #7FB800 !important;
}
.subscribe-button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 15px auto 5px auto !important;
	font-weight: bold !important;
}
.subscribe-button:hover, .subscribe-button:active {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}
@media only screen and (min-width: 40.063em) { /* medium and up screens only */
	.subscribe-modal {
		width: 45% !important;
	}
	.subscribe-modal .subscribe-button {
	width: 50% !important;
	}
	.subscribe-modal input {
		width: 75% !important;
		display: block !important;
		margin: 0 auto 0 auto !important;
	}
}
.no-tweets {
	margin-top: 20px !important;
}
.side-nav-title {
	margin-top: 15px !important;
	margin-bottom: 0px !important;
}
hr {
	margin: 0 0 0.1875rem !important;
}

/* --- My Events Page Styles --- */
.accordion .accordion-navigation > a, .accordion dd > a {
	background: #2274A5 !important;
	color: #F1F1F1 !important;
	border-bottom: 1px solid #F1F1F1;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
	background: #7FB800 !important;
}
.my-event-image {
	margin-bottom: 10px;
}
.unsubscribe-button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 15px auto 5px auto !important;
	font-weight: bold !important;
	width: 65% !important;
}
@media only screen and (min-width: 48.063em) { /* medium and up screens only */
	.unsubscribe-button {
		width: 30% !important;
	}
}
.unsubscribe-button:hover, .unsubscribe-button:active {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}
.settings-icon {
	width: 40px;
}
.new-event .field {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 48.063em) { /* medium and up screens only */
	.new-event .field {
		width: 50%;
	}
}
.new-event-button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 16px auto 20px auto !important;
	width: 60% !important;
	font-weight: bold !important;
}
@media only screen and (min-width: 48.063em) { /* medium and up screens only */
	.new-event-button {
		width: 40% !important;
	}
}
.new-event-button:hover, .new-event-button:active {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}
.new-event h2 {
	text-align: center;
	font-weight: bold;
}
.table-links {
	color: #2274A5 !important;
}
.table-links:hover, .table-links:active {
	color: #7FB800 !important;
}
.hidden {
	display: none !important;
}
#all-events_length label, #all-events_info {
	display: none !important;
}

/* --- My Profile Page Styles --- */
.profile-picture {
	width: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.edit-profile-info input {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
@media only screen and (min-width: 50.063em) { /* medium and up screens only */
	.edit-profile-info input {
		width: 40% !important;
	}
}
@media only screen and (min-width: 30.063em) and (max-width: 50.062em) { /* small to medium screens */
	.edit-profile-info input {
		width: 60% !important;
	}
}
.edit-profile-button {
	background-color: #2274A5 !important;
	color: #7FB800 !important;
	display: block !important;
	margin: 15px auto 5px auto !important;
	font-weight: bold !important;
	width: 55% !important;
}
@media only screen and (min-width: 48.063em) { /* medium and up screens only */
	.edit-profile-button {
		width: 25% !important;
	}
}
@media only screen and (min-width: 30.063em) and (max-width: 50.062em) {
	.edit-profile-button {
		width: 35% !important;
	}
}
.edit-profile-button:hover, .edit-profile-button:active {
	background-color: #7FB800 !important;
	color: #2274A5 !important;
}