body {
	background: #D0D2D2 !important;
}

/* ---COLOR SCHEME --- */
/* 
	blue - #2274A5
	orange - #FF7D00
 	dark gray - #D0D2D2
 	white - #FFFFFF
 */

/* --- Nav Bar Styles --- */
.title-area h1 a {
	color: #FF7D00 !important;
	padding: 0 5px 0 5px !important;
	font-weight: bold !important;
	background-color: #2274A5;
}
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #2274A5 !important;
	color: #FFFFFF;
	font-weight: bold;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #FF7D00 !important;
	color: #FFFFFF;
}
.top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a {
	color: #FFFFFF !important;
}
.top-bar-section li:not(.has-form) a:not(.button):not(:hover) {
	color: #FFFFFF !important;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF !important;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	color: #FFFFFF !important;
}
.top-bar-section .has-dropdown > a:after {
    border-color: #FF7D00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}


/* --- Home Page Styles --- */
.home-panel {
	margin-top: 20px;
	border: 2px solid #FF7D00 !important;
	background: #2274A5 !important;
}
.home-panel h2 {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF !important;
}
.home-panel h6 {
	text-align: center;
	color: #FFFFFF !important;
}
.home-panel img {
	width: 300px;
	display: block;
	margin: 0 auto 10px auto;
}
.home-content fieldset {
	border: 3px solid #FF7D00;
}
.home-content legend {
	color: #2274A5;
}
.login-button, .signup-button {
	background-color: #2274A5 !important;
	color: #FF7D00 !important;
	display: block !important;
	margin: 0 auto 15px auto !important;
	width: 60% !important;
	font-weight: bold !important;
}
.login-button:hover, .signup-button:hover, .login-button:active, .signup-button:active {
	background-color: #FF7D00 !important;
	color: #2274A5 !important;
}
.twitter-login {
	display: block;
	margin:0 auto 0 auto;
}
.home-profile .button, .home-events .button {
	background-color: #2274A5 !important;
	color: #FF7D00 !important;
	display: block !important;
	margin: 0 auto 15px auto !important;
	font-weight: bold !important;
}
.home-profile .button:hover, .home-events .button:hover {
	background-color: #FF7D00 !important;
	color: #2274A5 !important;
}

/* --- Sign Up Page Styles --- */
.sign-up-content h2 {
	text-align: center;
	font-weight: bold;
	color: #FF7D00 !important;
}
.sign-up-content input {
	margin-bottom: 30px !important;
}
.already-user, .not-user {
	margin-top: 10px;
}
.already-user a, .not-user a {
	color:#2274A5;
}
.already-user a:hover, .already-user a:active, .not-user a:hover, .not-user a:active {
	color:#FF7D00;
}