body {
	background: #FFFFFF !important;
}

/* ---COLOR SCHEME --- */
/* 
	blue - #2274A5
	orange - #FF7D00
 	white - #FFFFFF
 */

/* --- Nav Bar Styles --- */
.title-area h1 a {
	color: #FF7D00 !important;
	padding: 0 5px 0 5px !important;
	font-weight: bold !important;
	background-color: #2274A5;
}
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #2274A5 !important;
	color: #FFFFFF;
	font-weight: bold;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #FF7D00 !important;
	color: #FFFFFF;
}
.top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a {
	color: #FFFFFF !important;
}
.top-bar-section li:not(.has-form) a:not(.button):not(:hover) {
	color: #FFFFFF !important;
}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF !important;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	color: #FFFFFF !important;
}
.top-bar-section .has-dropdown > a:after {
    border-color: #FF7D00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}
.top-bar h1 {
	background: #2274A5 !important;
}

/* --- Home Page Styles --- */
.home-panel {
	margin-top: 20px;
	border: 2px solid #FF7D00 !important;
	background: #2274A5 !important;
}
.home-panel h2 {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF !important;
}
.home-panel h6 {
	text-align: center;
	color: #FFFFFF !important;
}
.home-panel img {
	width: 300px;
	display: block;
	margin: 0 auto 10px auto;
}
.home-content fieldset {
	border: 3px solid #FF7D00;
}
.home-content legend {
	color: #2274A5;
}
.login-button, .signup-button {
	background-color: #2274A5 !important;
	color: #FF7D00 !important;
	display: block !important;
	margin: 0 auto 15px auto !important;
	width: 60% !important;
	font-weight: bold !important;
}
.login-button:hover, .signup-button:hover, .login-button:active, .signup-button:active {
	background-color: #FF7D00 !important;
	color: #2274A5 !important;
}
.twitter-login {
	display: block;
	margin:0 auto 0 auto;
}
.home-profile .button, .home-events .button {
	background-color: #2274A5 !important;
	color: #FF7D00 !important;
	display: block !important;
	margin: 0 auto 15px auto !important;
	font-weight: bold !important;
}
.home-profile .button:hover, .home-events .button:hover {
	background-color: #FF7D00 !important;
	color: #2274A5 !important;
}

/* --- Sign Up Page Styles --- */
.sign-up-content h2 {
	text-align: center;
	font-weight: bold;
	color: #FF7D00 !important;
}
.sign-up-content input {
	margin-bottom: 30px !important;
}
.already-user, .not-user {
	margin-top: 10px;
}
.already-user a, .not-user a {
	color:#2274A5;
}
.already-user a:hover, .already-user a:active, .not-user a:hover, .not-user a:active {
	color:#FF7D00;
}

/* --- Tweets Page Styles (Mobile) --- */
.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  min-height: 100vh;
}
.tab-bar {
	background: #D0D2D2 !important;
}
.mobile-events-menu a.menu-icon span::after {
	box-shadow: 0 1px 0 1px #2274A5, 0 8px 0 1px #2274A5, 0 15px 0 1px #2274A5 !important;
}
.mobile-events-menu a.menu-icon {
	background-color: #FFFFFF !important;
	margin:5px 0 0 5px;
}
.mobile-events-menu .left-small {
	border:none !important;
}
.display-tweets-mobile .twitter-tweet {
	display: block;
	margin: 0 auto 0 auto;
}

/* --- Tweets Page Styles (Desktop) --- */
.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  	min-height: 100vh;
}
.tab-bar {
	background: #FFFFFF !important;
}
.mobile-events-menu a.menu-icon span::after {
	box-shadow: 0 1px 0 1px #2274A5, 0 8px 0 1px #2274A5, 0 15px 0 1px #2274A5 !important;
}
.mobile-events-menu a.menu-icon {
	background-color: #FFFFFF !important;
	margin:5px 0 0 5px;
}
.mobile-events-menu .left-small {
	border:none !important;
}
.events-off-canvas {
	text-align: left !important;
	margin-top: 15px;
}
.events-list li a {
	color: #2274A5 !important;
}
.events-list li a:hover, .events-list li.active > a:first-child:not(.button) {
	color: #FF7D00 !important;
}
.subscribe-button {
	background-color: #2274A5 !important;
	color: #FF7D00 !important;
	display: block !important;
	margin: 15px auto 5px auto !important;
	font-weight: bold !important;
}
.subscribe-button:hover, .subscribe-button:active {
	background-color: #FF7D00 !important;
	color: #2274A5 !important;
}
.display-tweets {

}
@media only screen and (min-width: 40.063em) { /* medium and up screens only */
	.subscribe-modal {
		width: 45% !important;
	}
	.subscribe-modal .subscribe-button {
	width: 50% !important;
	}
	.subscribe-modal input {
		width: 75% !important;
		display: block !important;
		margin: 0 auto 0 auto !important;
	}
}